<h2>Postanite korisnik - registracija!</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
        <ul style="color: red;">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <button type="submit">Registriraj se</button>
</form>