{% extends "kazaliste/base.html" %}

{% block title %}Registracija{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="mb-4 text-center">Registracija</h2>
          <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for field in form %}
              <div class="mb-3">
                <label class="form-label" for="{{ field.id_for_label }}">
                  {{ field.label }}{% if field.field.required %}{% endif %}
                </label>
                {{ field }}

                {% for error in field.errors %}
                  <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100 mb-2">Registriraj se</button>
            <a class="btn btn-link w-100" href="{% url 'login' %}">Već imaš račun? Prijava</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}